body {
  margin: 0;
  padding: 0;
}  
.belt {
  width: 100%;
  background-image: url(ass/gleba.jpg);
  height: 405px;
  margin: 0;
  background-position: center;
}
.pasek {
  text-align: center;
}
li {
  float: left;
  display: inline;
}
a {
  display: block;
  padding: 8px;
  background-color: #494949;
}
a.highlight:hover {
   color: #ff0000;
}
.active {
  background-color: #04AA6D;
}
#link {
  color:white;
  text-decoration: none;
      
}